
/* chosen */
h4 {
  margin: 10px 0px;
}

.chosen-container {
    min-width: 100px;
    max-width: 325px;
    margin-top: 10px;
    padding: 0px 5px;
  }
  
  .chosen-list {
    padding-left: 35px;
  }
  
  .chosen-items {
    padding: 8px 3px;
  }
  
  .chosen-item {
    padding: 8px 3px;
  }